@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Inter', sans-serif;
    background-color: #F3F3F3;
    overflow-x:hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.profile {
  height: 120vh;
}

#name {
  margin-top: 100px;
}

#name p {
  margin-bottom: 0;
}

.text {
  font-family: 'Inter';
  font-style: italic;
  font-size: 15px;
  color: #D1B39F!important;
}

.text-1 {
  font-family: 'Inter';
  font-style: italic;
  font-size: 15px;
  color: #D1B39F!important;
}

.text-1 span {
  color: black!important;
}

.fname {
  font-size: 25px;
}

.fw-normal {
  font-family: 'Inter';
  font-style: normal;
  font-size: 15px;
  font: black!important;
}

.profile-image {
  max-height: 50vh;
}

@media(max-width: 468px){
  .profile-image {
    margin-left: -30px!important;
  }
}

.welcome {
  font-weight: 900;
  top: 50vh;
  left: 50vw;
  position: absolute;
  z-index: 1;
}

.work {
  font-weight: 900;
  top: 200vh;
  left: 10vw;
  position: absolute;
  z-index: 1;
  color: #D1B39F;
}

.projects {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 20px;
  display: block;
  top: 50vh;
  position: fixed;
  z-index: 1;
}

.projects:hover {
  color: black;
}

.as-one {
  background-color: #CCCCCC;
  background-position: bottom;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.about {
  writing-mode: vertical-lr;
  font-size: 20px;
  display: block;
  top: 50vh;
  position: fixed;
  z-index: 1;
}

.about:hover {
  color: black;
}

@media(max-width: 768px){
  .about {
    writing-mode: vertical-lr;
    font-size: 20px;
    display: block;
    top: 50vh;
    position: fixed;
    right: 50px;
  }
  .arrow-up {
    position: fixed;
    top: 92vh;
    right: 50px;
  }
}

.arrow-up {
  position: fixed;
  top: 92vh;
  z-index: 1;
}

.projects-page {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
  filter: grayscale(100%)
}

.carousel:hover {
  filter: none;
}

@media(max-width: 320px){
  .carousel {
    position: relative;
    z-index: 0;

  }
  .carousel img {
    min-width: 50vh;
    margin-bottom: 150px;
  }
}

@media(max-width: 768px){
  .carousel {
    position: relative;
    z-index: 0;

  }
  .carousel img {
    min-width: 50vh;
    margin-bottom: 150px;
  }
}

@media(max-width: 1024px){
  .carousel img {
    min-width: 50vh;
    margin-bottom: 150px;
  }
}

.marquee {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 15px;
  animation: marquee 20s linear infinite;
  max-width: 100vw;
}

@keyframes marquee {
  0%   { transform: translate(-130%, 0); }
  100% { transform: translate(130%, 0); }
} 

.projects-page a:hover {
  color: black;
}

.projects-page h3 {
  font-weight: bold;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: transparent;
}

.carousel-control-next-icon {
  background-image: url("/nav.svg");
  transform: rotate(90deg);
}

.carousel-control-prev-icon {
  background-image: url("/nav.svg");
  transform: rotate(-90deg);
}
.footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* text-align: center; */
  margin: 0;
  position: relative;
  font-size: 12px;
}

.footer-element {
  position: absolute;
  bottom: 0;
}

.fe-1 {
  margin-bottom: 0;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.about-title {
  font-size: 20px!important;
}

.connect {
  display: flex;
  align-items: center;
  height: 100vh;
}

@media(max-width: 767px){
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    margin-top: 150px;
    margin-bottom: -250px;
  }
  .connect-text {
    font-size: 50px!important;
  }
}

.connect span {
  color: #D1B39F!important;
}

.footer img {
  transition: transform .2s;
}

.footer img:hover {
  transform: scale(1.5);
}